<div id="workWrapper">
<h1>WORK</h1>

<br><br>
<h2>
See:</h2>
<a href="http://www.consumerfinance.gov/">CFPB:  Consumer Financial Protection Bureau</a><br><br>
<a href="http://hls.harvard.edu/faculty/directory/10935/Warren">Harvard Faculty site</a><br><br>


<h3>books:</h3>
 <ul class="books">

<li>A Fighting Chance    Mar 31, 2015</li>

<li>All Your Worth: The Ultimate Lifetime Money Plan  Jan 17, 2006</li>

<li>Chapter 11: Essentials  Oct 24, 2008</li>

<li><a href="https://books.google.com/books?hl=en&lr=&id=BZAfAQAAQBAJ&oi=fnd&pg=PT11&dq=elizabeth+warren&ots=r_sI7gnP5Q&sig=ZVGTfcJQfaRpRP1p3HiyXk_W5f0#v=onepage&q=elizabeth%20warren&f=false">The Two-Income Trap: Why Middle-Class Parents are Going Broke</a>  Aug 17, 2004</li>

<li><a href="https://books.google.com/books?hl=en&lr=&id=xbd-P8cgZNgC&oi=fnd&pg=PR9&dq=elizabeth+warren&ots=tEfFSkAWpe&sig=3tcfadZ37PHlhdHEbUIol80bS0o#v=onepage&q=elizabeth%20warren&f=false">The Fragile Middle Class: Americans in Debt </a> Mar 11, 2000</li>

<li>Law of Debtors and Creditors  Nov 19, 2008</li>

<li>The Law of Debtors and Creditors, 2013 Casebook Supplement, Sixth Edition</li>

<li>Prosperity, Peace and Respect: How Presidents Manage the People's AgendaJun 2, 2011</li>

<li>Secured Credit: Systems Approach Revised Article 9 6e  Dec 10, 2008</li>

<li>A Fighting Chance by Elizabeth Warren  April 22, 2014 </li>
 
<li><a href="https://books.google.com/books?hl=en&lr=&id=qPVCWDA74o0C&oi=fnd&pg=PA3&dq=elizabeth+warren&ots=I4Af-z3d0c&sig=huHBrgOJvG-pwJxkmDLBykaSDuk#v=onepage&q=elizabeth%20warren&f=false">As We Forgive Our Debtors: Bankruptcy and Consumer Credit in America </a> Nov 16, 1989</li>

<li>Bankruptcy &amp; Article 9, 2011 Statutory SupplementAug 23, 2011</li>

<li>Debtor Creditor: Adaptable Courses Utilizing Warren and Westbrook's Casebook on the Law of Debitors and Creditors...  Jan 1996</li>


</ul>



<h3>articles:</h3>



<ul class="articles">
	<li><a href="http://www.disabilityresourcegroup.com/html/broker_folders/pdf/sales_and_marketing/articles/Illness_Injury_contributes_to_bankruptcy.pdf">Illness and Injury as Contributors to Bankruptcy</a></li>
	<li><a href="http://www.amjmed.com/article/S0002-9343(09)00404-5/abstract">Medical Bankruptcy in the United States, 2007: Results of a National Study</a></li>
	<li><a href="http://chicagounbound.uchicago.edu/cgi/viewcontent.cgi?article=4502&context=uclrev">Bankruptcy Policy,
<i>The University of Chicago Law Review</i>,
Vol. 54, No. 3 (Summer, 1987), pp. 775-814</a></li>

<li><a href="http://lsr.nellco.org/cgi/viewcontent.cgi?article=1141&context=nyu_lewp">Making credit safer
O Bar-Gill, E Warren - <i>University of Pennsylvania Law Review</i>, 2008</a></li>

<li><a href="http://www.jstor.org/stable/1289668?seq=1#page_scan_tab_contents">
Bankruptcy Policymaking in an Imperfect World
Elizabeth Warren
<i>Michigan Law Review </i>
Vol. 92, No. 2 (Nov., 1993), pp. 336-387</a></li>

</ul>

</div>

